*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/config/*.php          # Framework settings; use .env for changes instead
/tests/*               # Default feature/unit tests
/database/factories/*  # Data generation logic
/database/seeders/*    # Initial data population logic
phpunit.xml            # Testing configuration

/public/favicon.ico
/public/robots.txt
/resources/css/
/resources/js/
/resources/views/      # API services don't use Blade templates
vite.config.js
package.json
package-lock.json

/lang/                 # Default translation strings
/app/Console/          # Custom CLI commands (unless you create one)
/app/Providers/        # Standard service providers (App, Auth, Event)
.editorconfig
.gitattributes
artisan                # The CLI executable itself

